<h1>Здравствуйте {{name}}!</h1>
<h2>Пожалуйста, нажмите 'Confirm', чтобы подтвердить свой адрес электронной почты.</h2>
<p>
    <a href="{{url}}">Confirm</a>
</p>

<p>Если вы не запрашивали это письмо, вы можете смело его игнорировать.</p>